HOST=127.0.0.1
PORT=3333
NODE_ENV=development
APP_URL=http://${HOST}:${PORT}

CACHE_VIEWS=false

APP_KEY=

DB_CONNECTION=sqlite
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DATABASE=adonis

SESSION_DRIVER=cookie
HASH_DRIVER=bcrypt

DO_OAUTH2_URL=
DO_API_URL=
DO_APP_DOMAIN=
DO_IONA_CLIENT_ID=
DO_IONA_REDIRECT_URI=
DO_IONA_CLIENT_SECRET=
DO_PERSONAL_ACCESS_TOKEN=

GITHUB_API_URL=
GITHUB_OAUTH2_URL=
GITHUB_CLIENT_ID=
GITHUB_REDIRECT_URI=
GITHUB_CLIENT_SECRET=
