apt update
apt install postgresql -y
sudo -u postgres psql << EOF

CREATE USER {{ username }} WITH PASSWORD '{{ password }}';
CREATE DATABASE {{ database }};
GRANT ALL ON DATABASE "{{ database }}" TO {{ username }};
ALTER DATABASE target_database OWNER TO {{ username }};
\q
>> EOF
