if [ ! -d '{{ site }}' ]; then
  cd ~
  cd /etc/nginx/sites-available

  touch {{ site }}
  echo "{{ config }}" >> {{ site }}
  ln -s /etc/nginx/sites-available/{{ site }} /etc/nginx/sites-enabled/

  touch {{ ionaSite }}
  echo "{{ ionaSubdomainConfig }}" >> {{ ionaSite }}
  ln -s /etc/nginx/sites-available/{{ ionaSite }} /etc/nginx/sites-enabled/

  certbot --nginx -d {{ ionaSite }} -m bahdcoder@gmail.com --agree-tos -n

  systemctl restart nginx
fi
